.blog-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 20px 0;
  border-radius: 8px;
}

.blog-img,
.preview-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.btn-row {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.edit-btn {
  background: #3d8bfd;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
}

.delete-btn {
  background: #e03131;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
}

.submit-btn {
  background: black;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  margin-top: 10px;
}
